@page
@model VerySimpleForum.Pages.ShowSubTopicsModel
@{
}
@foreach(var subtopic in Model.SubTopics){
    <h1> <a asp-page="/subTopicPages/SubTopicPage" asp-route-title="@subtopic.Title">@subtopic.Title</a> </h1>
}